@tailwind base;
@tailwind components;
@tailwind utilities;
        @layer base{
             html,
             body{
            overflow-x: hidden;
            }
            h1,h2,h3{
                @apply font-display text-gray-800
            }
        }